body{
    font-family: 'Montserrat', sans-serif;
    background-color: #CAFFFB;
    padding: 0;
    margin: 0;
    
}

.header{
    background-color: #048243;
    background-size: cover;
    height: 120px;
    margin: 0;
}

.menu{
    color: white;
    background-color: #32BF84;
    padding: 10px 20px;
    border-radius: 7px;
    font-weight: 600;
    text-decoration: none;
    margin: 10px 10px;
    display: inline-block;
    }

/* .menu {
    display: inline-block;
} */

.config_1 {
    background-color: #048243;
    
    max-width: 80%;
    
}

.picture{
    border: solid 3px;
    border-color: #048243;
    width: 100%;
    margin-right: 10px;
}

.float-left{
    float: left;
    width: 50%;
    /* margin-left: 50px; */
    
}

.float-right{
    float: right;
    width: 50%;
    
}


.clear {
    clear: both;
    text-align: center;
    border-top: 5px solid purple;
    width: 80%;
}

a[target]{
    color: white;
    background-color: #32bf84;
    padding: 15px 30px;
    border-radius: 7px;
    font-weight: 600;
    text-decoration: none;

    }

h2{
    color: #048243;
    font-family: monospace;
    line-height: 40px;
    font-size: 29px;
    text-align: center;
}


p{
    color: black;
    margin: 10px 20px;
    line-height: 30px;
}

.skills_3 {
    width: 80%;
    font-size: 25px;
    line-height: 40px;
}

.skills_3.1 {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

